/**cброс родных настроек**/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    color: #454546;
    font: 20px/1 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Serif', serif;
    font-weight: bold
}

img{
    max-width: 100%;
    height: auto;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover, a:active{
    text-decoration: none;
}

ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* конец сброса родных натсроек*/

/**дефолтные стили**/

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
   
}



.btn{
    background-color: #e31673;
    border: none;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.btn:hover,
a.btn-big:hover,
button:hover{
    background-color: #990c4e;
    transition: 0.3s
}

input,
.input-row-5 button,
.order-content-form button,
.present button,
.we-produce button{
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;

}
.name-1{
    font-size: 45px;
    text-shadow: 0px 0px 100px white;
    text-align: left
}
input {
    border-radius: 5px;
    border: none;
}

::-webkit-input-placeholder {font-size: 15px};
:-moz-placeholder {font-size: 15px};
:-ms-input-placeholder {font-size: 15px};

/*конец дефолтных стилей*/

/********************************главная страница*****************************/

nav{
    display: flex;
    justify-content: space-around;
}

nav a+a{
    margin-left: 30px;
}

.top-header nav a{
    border-bottom: 2px solid transparent; 
    padding-bottom: 5px ;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  
.top-header nav a:hover{
      border-bottom: 2px solid white; 
      transition: 0.3s
  }

header {
    height: 130vh;
    background: url('img/back.png') no-repeat center/cover;
    text-align: center;
}

.top-header{
    padding: 15px 0;
    position: absolute;
    background-color:gray;
    right: 0;
    left: 0;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
    z-index: 99;
    width: 100%;
    top:20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-transform: uppercase
}


.top-header .contact{
    font-weight: bold;
    font-size: 24px;
}

.top-header .contact button{
    padding: 18px;
    font-size: 16px;
    margin-top: 10px;
    line-height: 0.2;
}

header .inner-content{
    padding: 170px 200px;
}

.inner-content h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
    font-size: 55px;
    color: #555354;
    text-shadow:
			-1px -1px 10px #fff,
			1px -1px 10px #fff,
			-1px 1px 10px #fff,
			1px 1px 10px #fff;
}

.inner-content h1 span{
    font-weight: normal;
    font-size: 35px;
}

.inner-content .inner-content-text span.text-small{
    font-size: 20px;
    line-height: 45px;
    display: block;
    font-family: 'Roboto', sans-serif
}

.btn-big{
    padding: 20px 70px;
    letter-spacing: 0.15em;
    display: block;
    margin: 25px auto 0 auto;
}

/*inner-content-advantage*/

.inner-content-advantage{
    display: flex;
    justify-content: space-around;
    margin-top: 50px
}

.item-advantage{
    border-radius: 50%;
    padding: 20px;
    background-color: grey;
    border: 5px solid white;
    font-size: 14px;
    display: flex;
    width: 170px;
    height: 170px;
    color: white;
    padding: 15px;
    margin-left: 10px;
    line-height: 17px;
    text-align: center;
}

.item-advantage span{
    font-size: 20px;
    font-weight: bold
}

.item-advantage p{
    margin-top: 5px;
}

.advantage-content{
    margin-top: 7px
}



.we-produce button{
    width: 300px;
}

/***********************page share*******************************/

.share{
    padding: 50px 0;
}

.share-content{
    display: flex;
    justify-content: space-around;
    background: url('img/back-2.png') no-repeat;
    background-position: right 0px bottom 0px;
    background-size: 40%;
}

.share-content-form{
    flex-basis: 45%;
    margin-right: 130px;
    padding: 60px 60px 40px 60px;
    background-color: rgba(85, 85, 85, 0.1);
}

.share-content-text{
    flex-basis: 55%
}

/*форма*/

.all-row{
    display: flex;
    flex-direction: column
}

.double-input{
    display: flex;
}

.double-input .short{
    flex-basis: 35%;
    margin-right: 20px;
}

.double-input .longe{
    flex-basis: 70%
}

/*текст*/

.red{
    font-size: 64px;
    color: #e31673;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
}
.grey-40{
    font-size: 40px;
    line-height: 50px;
}
.grey-30{
    font-size: 30px;
    line-height: 30px;
}
.grey-20{
    font-size: 20px;
    line-height: 22px;
}
.phone-number {
    font-size: 46px;
    color: #e31673;
    font-weight: bold;
    margin-bottom: 10px;
}
.decorate {
    height: auto;
    background: url('img/d.png') no-repeat;
    background-position: left 0px;
    background-size: 70%
}
.decorate p {
    line-height: 120px;
    padding-left: 70px;
    text-shadow: 0px 0px 10px black;
    color: white;
    font-size: 30px;
}
.row-4{
    margin-left: 340px;
    line-height: 20px   
}
.row-5{
    margin-top: 30px;
}

/*конец page share*/

/********************page why-best-change************************/

.why-best-change{
    background: url('img/back-3.png') no-repeat center/cover;
}

.why-best-change-content{
    display: flex;
    justify-content: space-between;
    padding: 40px 0
}

.why-best-change-content-header{
    margin-right: 50px;
    flex-basis: 55%;
	display: flex;
    align-items: center;
	position:relative;
}

.why-best-change-text{
    flex-basis: 45%
}

.why-best-change-text-item {
    background: url(img/decor-2.png) no-repeat;
    background-position: left 0px;
    background-size: 75%;
    max-width: 500px;
}

.why-best-change-text-item p {
    line-height: 25px;
    padding: 25px 0 25px 100px;
    margin-left:10px;
    position: relative;
}

.why-best-change-content-header h2{
    max-width: 559px
}
.why-best-change-text-item ::before {
    content: '';
    position: absolute;
    left: 30px;
    width: 50px;
	height: 50px;
	background-image: url("img/check.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.why-best-change-content-header::before {
    content: url(img/line.png);
    position: absolute;
    top: 135px;
}

/*конец page why-best-change*/


/*************************page order************************/

.order{
    background: url('img/back-4.jpg') no-repeat center/cover;
    z-index: 11;
    position: relative;
}

.order-content{
    padding: 70px 0;
    position: relative;
}

.order-content{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-around;
}

.order-content-header .name-1{
    text-shadow: none;
}

.order-content-header {
    color: white;
    flex-basis: 60%;
    position: relative;
    display: flex;
    align-items: center;
}

.order-content-header p {
    max-width: 400px;
    margin-top: 20px;
    line-height: 23px
}

.order-content-form{
    flex-basis: 35%;
    text-align: center;
}
    
.order-content-header::before {
    content: url(img/line-2.png);
    position: absolute;
    top: 7px
}

.worker-picture{
    transform: translateX(-50%);
    position: absolute;
    z-index: 9;
    max-width: 400px;
    left: 50%;
    top: 10%;
}

.order-content-form p{
    color: white;
    margin-bottom: 20px;
}

.btn-border{
    background-color: white;
    border: 4px solid #e31673;
    color: #e31673;
}

/**********************page stone******************/

.stone{
    padding: 50px 0
}

.stone h2{
    text-align: center;
    line-height: 55px;
    max-width: 800px;
    margin: 0 auto 50px auto
}

.stone-content{
    font-size: 0;
    margin-bottom: 20px
}

/*настройки слайдера*/

.stone-slider-wrapper{
    width: 90%;
    display: inline-block;
    vertical-align: middle
}

.stone-icon{
    width: 5%;
    display: inline-block;
    vertical-align: middle
}

.stone-slider-wrapper .slick-next.slick-arrow{
    background-color: black;
    margin-right: -25px;
}

.stone .slick-next.slick-arrow {
    background-color: #e8e8e8;
    height: 100%;
    width: 50px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    
}

.stone .slick-next:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 19px;
	background-image: url("img/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/*конец page stone*/

/*********page we-produce***********/

.we-produce{
    background: url('img/back-15.jpg') no-repeat center/cover;
    padding: 150px 0;
}

.content-we-produce{
    padding: 50px 50px ;
    background-color:rgba(255, 255, 255, 0.7);
    text-align: center;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}

.we-produce-item{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px
}

.content-we-produce h2{
    text-align: center;
    margin-bottom: 50px;
}

.content-we-produce .arrow{
    margin-bottom: 50px;
}

/*конец страницы page we-produce*/

/************page portfolio*****************/

.portfolio{
    padding: 50px 0;
    background: url('img/back-5.jpg') no-repeat center/cover;
}

.portfolio-flex-block{
    display: flex;
    justify-content: space-between
}

.portfolio h2{
    text-align: center;
    margin-bottom: 50px
}

h3 {
    display: block
}

/*настройки слайдера*/

.portfolio-slider-items-big{
    margin-bottom: 20px
}

.portfolio-item-small-1{
    margin-right: 10px
}

.portfolio .slick-next:before,
.portfolio .slick-prev:before,
.sertificate .slick-next:before,
.sertificate .slick-prev:before,
.rewius .slick-next:before,
.rewius .slick-prev:before {
    content: '';
    position: absolute;
    width: 40px;
    height:40px;
    left: 10px;
    top: -5px;
	background-image: url("img/arrow-galery-next.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.portfolio .slick-prev:before,
.sertificate .slick-prev:before,
.rewius .slick-prev:before {
    background-image: url("img/arrow-galery-prev.png");
    left: -25px;
}

.sertificate .slick-next:before {
    left: -75px;
}

.portfolio-flex-block .right-block {
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
}

.portfolio-flex-block .right-block h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px
}

.portfolio-flex-block .right-block p {
    font-size: 20px;
    font-weight: 500;
}

.portfolio .portfolio-item-small img{
    border: 7px solid #535355
}

.portfolio img{
    border: 5px solid transparent
}

.portfolio-item-small-1.slick-slide.slick-current img{
    border: 5px solid rgba(227,22,115,0.5)
}

/*конец страницы portfolio*/

/****************page produce******************/

.produce{
    background: url('img/back-7.png') no-repeat center/cover;
    margin-top: 300px;
    position: relative;
    z-index: 10;
    padding-bottom: 500px
}

.produce-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}

.wr{
    position: relative;
    top: -280px;
}
.bottom-part-with-text{
    padding: 40px 20px 50px 150px;
    display: flex;
    justify-content: space-between
}

.bottom-part-with-text .left-part{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 50px;
    flex-basis: 50%
}

.bottom-part-with-text .right-part{
    flex-basis: 50%
}

.item-after-header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.produce-item::before{
    content: '';
    position: absolute;
    left: -80px;
    top: 15px;
    width: 50px;
	height: 50px;
	background-image: url("img/check-1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.produce-item+.produce-item{
    margin-top: 20px
}

.produce-item{
    font-size: 16px;
    max-width: 370px;
    position: relative;
    flex-basis: 20%;
    line-height: 18px
}
.produce-item .big{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px
}

.produce-item.two-line::before{
    top:5px;
}

.bottom-part-with-text h2::before{
    content: url(img/line-3.png);
    position: absolute;
    top: -50px;
}

.bottom-part-with-text h2{
    position: relative;
    margin-top: 50px
}

.produce .red-line{
    text-align: center;
    max-width: 80%;
    padding: 20px;
    background-color: rgba(227, 22, 115, 0.6);
    margin: 0 auto
}

.produce .red-line p{
   color: white;
   font-size: 36px;
   font-weight: bold;
}

/*конец страницы produce*/

/**********************page sertificate**************/

.sertificate{
    background: url(img/back-8.jpg) no-repeat center/cover;
    position: relative;
    z-index: 9;
    margin-top: -190px;
    padding: 200px 0 100px 0;
}

.sertificate .name-1{
    text-align: center;
    margin-bottom: 50px
}

.sertificate-content{
    margin-left: 80px
}

/*конец страницы портфолио*/

/**************page reviews****************/

.rewius {
    background: url('img/back-11.jpg') no-repeat center/cover;
    padding: 50px 0 
}
.rewius .description{
    position: absolute;
    background: rgba(227,22,115,0.5);
    width: 50%;
    height: 50%;
    right: 0;
    bottom: 0;
    padding: 80px 40px;
    color: white;
    font-family: 'Noto Serif', serif;
    font-size: 22px;
    line-height: 26px
}
.rewius .description p span{
    text-transform: uppercase;
    font-weight: bold;
}

.rewius-bottom-part{
    color: white;
    font-size: 16px;
    padding: 50px;
    line-height: 22px;
    flex-basis: 50%;
    background: url('img/rewyus-back.jpg') no-repeat center/cover;
}

.rewius-right-part{
    position: relative;
    flex-basis: 50%;
}

.rewius-right-part.part-1{
    background: url('img/img-rewyus.jpg') no-repeat center/cover;
}

.rewius-right-part.part-2{
    background: url('img/img-rewyus-2.jpg') no-repeat center/cover;
}

.rewius-right-part.part-3{
    background: url('img/img-rewyus-3.jpg') no-repeat center/cover;
}

.rewius-left-part{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.rewius-content{
    display: flex;
    justify-content: space-between;
    height: 530px;
}

.rewius-top-part{
    flex-basis: 50%;
    display: flex;
    justify-content: space-between
}

.person{
    flex-basis: 50%
}

.about-client p span{
    font-size: 36px;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    
}

.about-client{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 90px 40px 80px 40px;
    background-color: #f4c8df;
    flex-basis: 50%;
    line-height: 24px
}

.rewius h2{
    text-align: center;
    margin-bottom: 50px;
}

/*конец страницы rewius*/

/************************page present****************************/

.present{
    background: url('img/back-9.jpg') no-repeat center/cover;
    padding: 50px 0 
}

.present-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.present-content .left-part{
    flex-basis: 20%
}

.present-content .middle-part{
    flex-basis: 50%;
    text-align: center
}

.present-content .right-part{
    flex-basis: 30%;
    padding: 30px 40px;
    background-color: rgba(227, 22, 115, 0.3);
}

.present-content .right-part button{
    margin-top: 20px
}

.present-content .right-part p{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.present-content .middle-part .top-text{
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    line-height:45px ;
}

.present-content .middle-part .decorate {
    background-position-x: center;
    margin: 20px 0
}

.present-content .middle-part .decorate p{
    padding-left: 0px;
}

.present-content .middle-part .bottom-text{
    font-size: 24px
}
   
.top-text{
    text-shadow:
			-1px -1px 5px #fff,
			1px -1px 5px #fff,
			-1px 1px 5px #fff,
			1px 1px 5px #fff;
}

/*конец страницы present*/

/*********************footer****************************/

footer{
    background-color: #535355;
    padding: 20px
}

.footer-content{
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}

.footer-content .contact{
    font-weight: bold;
    font-size: 24px;
    position: relative;
}

.footer-content .contact::before{
    content: '';
    position: absolute;
    width: 40px;
    height:40px;
    left: -45px;
    top: -10px;
	background-image: url("img/icon-phone.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.totop-button{
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 70px;
    height: 70px;
    background-color: rgba(227, 22, 115, 0.3);
    z-index: 1000;
    transition: 0.3s;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
}

.totop-button::before{
    content: '';
    position: absolute;
    left: 20px;
    top: 17px;
    width: 30px;
	height: 30px;
	background-image: url("img/ar.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


.totop-button:hover{
    cursor: pointer;
    background-color:#e31673;
}

.totop-button.show{
    opacity: 1;
    visibility: visible;
}
/*конец страницы footer*/
@media(max-width:1365px){
    .why-best-change-text-item ::before {
        right: 480px;
    } 
}

.we-produce button{
    width: 300px;
}

@media(max-width:767px){
    .totop-button,
    nav {
        display: none;
    } 
    header .inner-content {
        padding: 90px 0;
    }
    .inner-content h1 {
        font-size: 42px;
    }
    .text-small{
        font-size: 18px
    }
    .inner-content h1 span {
        font-size: 24px;
    }
    .logo img{
        width: 120px;
    }
    .top-header .contact {
        font-size: 16px;
    }
    .top-header .contact button{
        display: none
    }
    .top-header {
        padding: 8px 0;
        top: 0;
    }
    .btn-big {
        padding: 20px 20px;
    }
        .btn {
            
            font-size: 14px;
        }
        header {
            height: 155vh
        }
    /*.inner-content-advantage{
        display: block;
        margin-top: 20px
    }*/
    .inner-content-advantage{
        flex-wrap: wrap;
    }
    .item-advantage {
        margin: 0 40px 20px 40px
        
    }
   

    /********************************/
    .share-content{
        display: block
    }
    .share-content-form{
        margin-right: 0;
        padding: 40px 30px 20px 30px
    }
    .share{
        padding: 0 0 50px 0
    }
    .share-content-text{
        text-align:center;
        padding-top: 20px
    }
    .grey-50{
        font-size: 36px
    }
    .row-4.red{
        font-size: 40px
    }
    .decorate p{
        padding-left: 0
    }
    .decorate{
        background-position-x: center;
        background-position-y: center;
    }
    /***********/
    .why-best-change-content{
        display: block
    }
    .why-best-change-content-header h2{
        text-align: center
    }
    .why-best-change-content-header::before{
        display: none
    }
    .why-best-change-text-item p{
        text-align: center;
    }
    .why-best-change-text-item p{
        background-position: center;
    }
    .why-best-change-text{
        margin-top: 25px;
    }
    /*.why-best-change-text-item ::before {
        right: 350px;
    } */
    .why-best-change-text-item ::before {
        left: 120px;
    } 
    .why-best-change-text-item {
        background-position-x: center
    }
   
    
    .order-content{
        display: block
    }

    .order-content-header div{
        margin: 0 auto;
        text-align: center
    }

    .order-content-header {
        margin-bottom: 40px
    }
    .order-content {
        padding: 50px 0;
    }
    .order-content-header::before{
        display: none
    }
   .name-1{
       text-align: center
   }

   /***********************/

   .content-we-produce .arrow{
        display: none
   }

    .we-produce-item{
        display: block;
        margin-bottom: 0;
    }

    .we-produce-item img{
        margin-bottom: 30px;
    }

    /*********************/
    .portfolio-flex-block{
        display: block
    }

    .portfolio-flex-block .right-block{
        margin-left: 0;
        text-align: center;
    }
    .portfolio-flex-block .right-block h3{
        max-width: 400px;
        margin: 20px auto 20px auto;
    }
    .portfolio-slider-items-small .slick-next.slick-arrow{
        display: none
    }
    /**************/

    .bottom-part-with-text h2::before {
        display: none
    }

    .produce {
        background: none;
        margin-top: 0;
        padding-bottom: 0;
        margin-bottom: 50px;
    }

    .bottom-part-with-text h2{
        margin: 40px auto;
    }
.item-after-header{
    padding-left: 150px;
    padding-bottom: 20px;
}
.bottom-part-with-text .right-part{
    padding-left: 150px;
    padding-bottom: 40px;
}

.bottom-part-with-text .left-part{
    margin-right: 0; 
}
.bottom-part-with-text {
    padding: 0
    
}

    .wr {
        top: 0;
    }
    .sertificate {
    padding: 30px 0 10px 0;
    margin-top: 0;
    }
    .bottom-part-with-text{
        display: block
    }

    /*****************/


    .rewius{
        padding: 40px 0 20px 0;
    }
    .rewius-content{
        display: block
    }
    .rewius-right-part .part-1{
        display: none
    }
    .rewius .description{
        display: none
    }
    .slick-dotted.slick-slider{
        margin-bottom: 60px;
    }
    /******************/
    .present-content{
        display: block;
    }
    
    .present{
        text-align: center;
        background: none;
        padding: 0 0 50px 0
    }
    .present-content .middle-part {

        margin-bottom: 30px;
    }
    /************/
    .footer-content .slogan{
        display: none
    }
    
}


@media(max-width:1250px){
    header .inner-content {
        padding: 170px 150px;
    }
}

@media(max-width:1024px){
    header .inner-content {
        padding: 170px 50px;
    }
}

@media(max-width:991px){
    header .inner-content {
        padding: 170px 15px;
    }
}